@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}

.page-title {
    color: #575757;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    justify-content: center;
}

.search-add {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.search-box {
    width: 313px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    padding-left: 50px;
    border: none;
}

.search-box onlick{
    border: none;
}


.add-button {
    border: none;
    width: 159px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #FFF;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 10px;
}

.add-button {
    background: #41A62A;
}

.add-button:hover{
    background: #00501F;
}

.delete-button:hover svg {
    color: red;
}

.delete-button {
    border: none;
}

.edit-button {
    border: none;
}

@media (max-width: 480px) {
    .page-title {
        font-size: 24px;
        text-align: center;
    }

    .search-box {
        height: 40px;
    }

    .add-button,
    .delete-button {
        height: 40px;
        font-size: 16px;
    }
}



.table-background {
    width: 100%; 
    max-width: 1500px; 
    height: 50%; 
    flex-shrink: 0;
    border-radius: 37px;
    background: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto; 
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: auto; 
}

table {
    background-color: none;
    width: 100%;
    border-collapse: collapse;
}

.table-row:hover {
    background-color: #cbcbcb;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal input,select{
    margin: 10px;
    width: 320px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #f0f0f0;
    padding-left: 50px;
    border: none;
}

.modal-content {
    margin-bottom: 20px;
}

.modal button {
    border: none;
    width: 159px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #575757;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.modal button:hover{
    color: white;
    background-color: #41A62A;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #999;
    font-size: 20px;
}

.close:hover {
    color: #555;
}


.table-background table th {
    padding-top: 30px;
    padding-right: 50px;
    color: #575757;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.table-background table th:first-child {
    padding-left: 0;
}

.table-background table th:last-child {
    padding-right: 0;
}

.table-background table td {
    padding: 10px;
    text-align: center;
    background-color: transparent;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.table-background table td:first-child {
    text-align: left;
}

.table-background table td:last-child {
    text-align: right;
}

.table-row.selected {
    background-color: #0000;
  }



.table-row-text {
    background-color: #f0f0f0;
}
  
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #575757;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.confirmation-modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.confirmation-modal button {
    border: none;
    width: 159px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 10px;
    color: #575757;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}

.confirmation-modal button:hover{
    color: white;
    background-color: #575757;
}

.baixa-button {
    border: none;
}


.menu-header {
    width: 100vw;
    height: 60px;
    background-color: #007C30;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.menu-header a {
    color: white; 
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.menu-header a:hover {
    background-color: #00501F; 
    border-radius: 5px;
}


@media (max-width: 768px) {
    .menu-header {
        flex-direction: column; 
        height: auto; 
    }

    .menu-header a {
        padding: 15px 10px;
    }
}



.content-background {
    width: 100vw; 
    height: 100vh;
    flex-shrink: 0;
    background: #dbf3e4;
    padding: 0;
    box-sizing: border-box; 
}

.rectangle-content {
    text-align: center;
}

